* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0px;
    overflow: hidden;

}

#canvas
{
  width: 100%;
  height: calc(100% - 115px);
  background: #111;
}

.color, .tool {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    background-clip: content-box, padding-box;
    text-align: center;
    cursor: pointer;
    
}

.colorid, .toolid {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    
}

.coloridback {
    height: 40px;
    width: 40px; 
    border: 2px solid black; 
    border-radius:5px;
}

.colors, .tools {
    display: flex;
    width: 100%;
    background-color: cadetblue;
}

.colors {
    height: 65px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.tools {
    height: 65px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.activeTool {
    background-color: orangered;
}

.toolImage {
    height: 40px;
    padding: 5px;
}

.activeColor {
    background-color: orangered;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    overflow: scroll;
    
}

.tile-container {
    overflow: scroll;
    height:82vh;
}

.row {
    font-size: 0px;
    white-space: nowrap;
}

.tile {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: greenyellow;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footnote {
    font-size: 14px;
}

span {
    display: inline-block;
    line-height: normal;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    user-select: none;
}

th, td {
    text-align: left;
    padding: 2px;
    font-size: 14px;
}

th {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
